---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="keywords" content="hŽI,hž,stgo,karta,github,leaflet">
    <meta name="author" content="HŽI - STGO"> 
    <meta name="robots" content="index, follow">

    <!-- styles -->
    <link rel="stylesheet" href="{{ '/assets/vendor/leaflet/leaflet.css' | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="{{ '/assets/vendor/leaflet.markercluster/dist/MarkerCluster.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/vendor/leaflet.markercluster/dist/MarkerCluster.Default.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <!-- urls -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    
    <!-- Prefetch external CDN-Domain -->
    <link rel="dns-prefetch" href="//cartodb-basemaps-b.global.ssl.fastly.net">

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/icons/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/icons/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/icons/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/icons/manifest.json' | relative_url }}">
    <link rel="mask-icon" href="{{ '/icons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- open graph -->
    <meta property="og:site_name" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{{ '/icons/android-chrome-192x192.png' | absolute_url }}">
    <meta property="og:locale" content="de_DE">

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ivlasic">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="twitter:image" content="{{ '/icons/android-chrome-192x192.png' | absolute_url }}">
    <meta name="twitter:image:alt" content="Screenshot of community map">

    <!-- JSON LD -->
    <script type="application/ld+json">
    [
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
            "publisher": "HŽI",
            "url": "{{ page.url | absolute_url }}",
            "description": "{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}",
            "image": "{{ '/icons/android-chrome-192x192.png' | absolute_url }}"
        }
    ]
    </script>

    <!-- scripts -->
    <script src="{{ '/assets/vendor/leaflet/leaflet.js' | relative_url }}"></script>
    <script src="{{ '/assets/vendor/leaflet.markercluster/dist/leaflet.markercluster.js' | relative_url }}"></script>
    <script src="{{ '/assets/vendor/leaflet.edgebuffer/src/leaflet.edgebuffer.js' | relative_url }}"></script>
    <script src="{{ '/assets/plugins/hash/hash.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>


    <!-- init directory data and items counter -->
    {% assign directoryData = site.collections | where: "label", "directory" | first %}
    {% assign itemsCount = 0 %}


    <!-- process directory data -->
    <script>
    var directory = [
        {% for entry in site.directory %}

        <!-- id -->
        <!-- split path to user folder and select id from second to last part -->
        {% assign parts = entry.id | split: "/" %}
        {% assign index = parts | size | minus: 2 %}
        {% assign idRaw = parts[index] %}
        {% assign id = idRaw | slugify | jsonify %}

        <!-- name -->
        {% assign name = entry.name | strip_html | truncate: 100 | escape_once | jsonify %}

        <!-- latitude -->
        {% assign latitude = entry.latitude | strip_html | escape_once %}
        {% if latitude.size > 0 %}
            {% assign latitude = latitude | jsonify %}
        {% else %}
            {% continue %}
        {% endif %}

        <!-- longitude -->
        {% assign longitude = entry.longitude | strip_html | escape_once %}
        {% if longitude.size > 0 %}
            {% assign longitude = longitude | jsonify %}
        {% else %}
            {% continue %}
        {% endif %}

        <!-- E koordinata -->
        {% assign kooE = entry.kooE | strip_html | escape_once %}
        {% if longitude.size > 0 %}
            {% assign kooE = kooE | jsonify %}
        {% else %}
            {% continue %}
        {% endif %}

        <!-- N koordinata -->
        {% assign kooN = entry.kooN | strip_html | escape_once %}
        {% if longitude.size > 0 %}
            {% assign kooN = kooN | jsonify %}
        {% else %}
            {% continue %}
        {% endif %}

        <!-- H koordinata -->
        {% assign kooH = entry.kooH | strip_html | escape_once %}
        {% if longitude.size > 0 %}
            {% assign kooH = kooH | jsonify %}
        {% else %}
            {% continue %}
        {% endif %}

        <!-- H1875 koordinata -->
        {% assign kooH1875 = entry.kooH1875 | strip_html | escape_once %}
        {% if longitude.size > 0 %}
            {% assign kooH1875 = kooH1875 | jsonify %}
        {% else %}
            {% continue %}
        {% endif %}

        <!-- opis -->
        {% assign opis = entry.opis | strip_html | truncate: 400 | escape_once | jsonify %}

        <!-- image -->
        {% assign image = entry.image | strip_html %}
        {% unless image contains 'http://' or image contains 'https://' %}

            <!-- split path into parts and reassemble to get clean path (which jekyll does not provide) -->
            {% assign parts = entry.id | split: "/" %}
            {% assign path = "" %}
            {% for part in parts %}
                {% if part != "" and forloop.last != true %}
                    {% capture path %}{{ path }}/{{ part }}{% endcapture %}
                {% endif %}
            {% endfor %}

            <!-- set up complete image path (without leading '/') -->
            {% assign imagePath = path | slice: 1, 99999 | append: "/" | append: image %}

            <!-- create internal path stored by jeykll and check if image exists -->
            {% assign checkPath = imagePath | prepend: "_" %}
            {% assign imageObject = directoryData.files | where: "path", checkPath | first %}

            <!-- assign final image path -->
            {% if imageObject %}
                {% assign image = imagePath %}
            {% else %}
                {% assign image = "" %}
            {% endif %}
        {% endunless %}
        {% assign image = image | jsonify %}

        <!-- image2 -->
        {% assign image2 = entry.image2 | strip_html %}
        {% unless image contains 'http://' or image2 contains 'https://' %}

            <!-- split path into parts and reassemble to get clean path (which jekyll does not provide) -->
            {% assign parts = entry.id | split: "/" %}
            {% assign path = "" %}
            {% for part in parts %}
                {% if part != "" and forloop.last != true %}
                    {% capture path %}{{ path }}/{{ part }}{% endcapture %}
                {% endif %}
            {% endfor %}

            <!-- set up complete image2 path (without leading '/') -->
            {% assign imagePath = path | slice: 1, 99999 | append: "/" | append: image2 %}

            <!-- create internal path stored by jeykll and check if image2 exists -->
            {% assign checkPath = imagePath | prepend: "_" %}
            {% assign imageObject = directoryData.files | where: "path", checkPath | first %}

            <!-- assign final image2 path -->
            {% if imageObject %}
                {% assign image2 = imagePath %}
            {% else %}
                {% assign image2 = "" %}
            {% endif %}
        {% endunless %}
        {% assign image2 = image2 | jsonify %}

        <!-- links -->
        {% assign links = entry.links | jsonify | escape_once | replace: "&quot;", '"' %}

        <!-- Street View -->
        {% assign StreetView = 'https://www.google.com/maps?q&layer=c&cbll=' | append: latitude | append: "," | append: longitude | append: '&cbp=11,0,0,0,0' | escape_once | replace: "&quot;", '' | replace: "&amp;", '&' %}

        <!-- last modified -->
        {% assign lastModified = site.data.last-modified[idRaw] | default: 0 %}

        <!-- increment counter -->
        {% assign itemsCount = itemsCount | plus: 1 %}

        <!-- output -->
        {
            'id': {{ id }},
            'name': {{ name }},
            'latitude': {{ latitude }},
            'longitude': {{ longitude }},
            'kooE': {{ kooE }},
            'kooN': {{ kooN }},
            'kooH': {{ kooH }},
            'kooH1875': {{ kooH1875 }},
            'opis': {{ opis }},
            'image': {{ image }},
            'image2': {{ image2 }},
            'links': {{ links }},
            'StreetView': {{ StreetView }},
            'lastModified': {{ lastModified }},
        }{% unless forloop.last == true %},{% endunless %}
        {% endfor %}
    ];
    </script>

    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

</head>

<body>

    <!-- map container -->
    <div class="map" id="map"></div>


    <!-- info banner at bottom on site, click toggles popover -->
    <a class="infobanner" id="popover-open">
        <div class="infobanner__hzi">
            <img class="infobanner__logo" src="{{ '/assets/images/hzlogo.svg' | relative_url }}" alt="HŽI">
            <span>Karta <span class="hide-xs">STGO</span></span>
        </div>
        <div class="infobanner__join">
            <span class="infobanner__heart">♥</span>
            <span>Dodaj!</span>
        </div>
    </a>


    <!-- popover -->
    <div class="popover" id="popover">
        <button id="popover-close" class="popover__close" type="button"><span>Zatvori</span><i><i></i></i></button>
        <div class="popover__body">

            <h1 class="popover__title">
                <img class="hzi-logo" src="{{ '/assets/images/hzlogo.svg' | relative_url }}" alt="HŽ"><br>
                Karta STGO
            </h1>

            <p>Bilo koja od <strong>{{ itemsCount }}</strong> prikazanih lokacija na karti predstavlja stalnu točku geodetske osnove <a href="https://www.hzinfra.hr" target="_blank" rel="noopener noreferrer">HŽ Infrastrukture</a>.&nbsp;✌️</p>
            <p>Ovaj projekt se nalazi na <a href="https://github.com/ivlasic/stgo" target="_blank" rel="noopener noreferrer">GitHub</a>, koji svakome omogućava <strong>dodavanje novih stalnih točaka</strong>! Ako želite dodati vašu točku, slijedite poveznicu kako bi pronašli daljnje informacije:</p>

            <div class="calltoaction">
                <p>👉 <a href="https://github.com/ivlasic/stgo/tree/master/_directory" target="_blank" rel="noopener noreferrer">Saznajte kako dodati vlastitu točku!</a></p>
            </div>

            <div class="legals">
                <p>Legals: Ovu veb stranicu omogućio je <a href="https://www.ivgeo.net" target="_blank" rel="noopener noreferrer">Ivan&nbsp;Vlašić</a>. Ovo je <abbr title="Free and Open Source Software">FOSS</abbr> i upotreba je besplatna.</p>
            </div>

        </div>
    </div>

</body>
</html>
